.container{
    height: 100%;
    width: 100%;
}

#overflow{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color:#E3DFDD;
}

.text-container{
    background-color: #85C1D8;
    border-bottom-left-radius: 3%;
    padding: 3%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 552px;
}

.visual-container{
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 3%;
    height: 552px;
}

.slider-container{
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    padding: 3%;
}

#progress{
    position:relative;
    top: 0px;
    left: 0px;
    }

    input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    }
    input[type=range]:focus {
    outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #002200;
    background: #011213;
    border-radius: 0px;
    border: 0px solid #18D501;
    }
    input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #00AA00;
    border: 0px solid #83E584;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #02386b;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
    background: #205928;}

/*For all the headings/subheadings/texts*/
#main_heading{
    font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-32)/24px Nunito;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 24px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.8;
}
#sub_heading{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) Nunito;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 12px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
#text_1{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px Nunito;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px Nunito;
    letter-spacing: 0px;
    opacity: 1;
    line-height:0.75cm;
    
}
.slider-font{
    font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) Nunito;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 14px Nunito;
    letter-spacing: 0px;
    color: #004B7E;
    opacity: 1;
}
.text-interaction-design{
    padding:3%;
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 3%;
  color:#004B7E;
  font-weight: bolder;
}

.popup-design{
    padding:3%;
    background-color: #004B7E;
    border-radius: 3%;
    font-weight: bolder;
    
}

/*String dynamism*/


/*Progress bar*/
#Image_8{
    cursor: pointer;
}

#Group_8593{
    cursor: pointer;
}
#Group_8586{
    cursor: pointer;
}

#Group_8587{
    cursor: pointer;
}

#Group_8588{
    cursor: pointer;
}

#Group_8589{
    cursor: pointer;
}


