

#main_heading{
    position: relative;
    left: 550px;
    font-size: 45px;
  
}

/*Adding scroll to the whole content*/
#text{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 700px;
}

/*For all the rows and columns*/
.row{
   
    height: 630px;
}
.col-md-6{
    width: 600px;
    height: 100px;
}

/*For all the text*/
#text_1{
    line-height: 3;
    margin-left: 80px;
    
}

/*Reality*/
#slider-1{
    position: relative;
    left: 200px;
    top: -450px;
    width: 450px;
    height: 30px;
}

#labels-slider1{
    top: -950px;
}

#p2Reality{
    color: white;
}

#div_guitar_rope{
    position: relative;
    left: 750px;
    top: 0px;
}

#guitar{
    position: relative;
    left: -100px;
    top: -50px;
}

#rope{
    position: relative;
    left: 420px;
    top: -370px;
}


/*String Dynamism*/
#slider-2{
    position: relative;
    top: -820px;
    left: -130px;
    transform: rotate(90deg)
}

#slider-3{
    position: relative;
    top: -600px;
    left: -47px;
    width: 216px;
}

#strings_slider{
    position: relative;
    left: 850px;
    top: -250px;
}

#dynamic_strings{
    position: relative;
    left: 850px;
    top: -250px;
    width: 100px; 
}

#dynamic{
    position: relative;
    top: -358px;
}



#strings_spring{
    position: relative;
    left: 850px;
    top: -250px;
}
#zoom-spring{
    position: relative;
    left: 100px;
    top: 50px;  
}

#spring{
    position: relative;
    left: 150px;
    top: 100px;  
    right: 100px;  
}

#slider-4{
    position: relative;
    top: -30px;
    left: 150px;
    width: 400px;
}
/*Progress bar*/

#rt{
    position: fixed;
    top: 650px;
    left: 250px;
    height: 50px;
}

#svg{
    position: fixed;
    top: 620px;
    
}

/*Arbitrary m*/
#arbit-m{
    position: relative;
    left: 850px;
    top: -250px;
}
#svg_arbit{
    position: relative;
    
    top: 200px;
}
#arbit_slider{

    width: 400px;
    top: 0px;
    left: -100px;
    z-index: 15;
}


/*Zoom*/
#zoom-m{
    position: relative;
    left: 850px;
    top: -250px;
}

#zoom-m1{
    z-index: 0;
    
}

#zoom_into{
    position: relative;
    left: 240px;
    top: -575px;
    
    z-index: 5;
}

#coordinate-1{
    position: relative;
    left: 44px;
    top: -485px;
}
#zoom-text{
    transform: rotate(45deg);   
}
/*Force on a string*/
#springg{
    position: absolute;
    top: 570px;
    left: 80px;
    z-index: -5;
}

#force{
    position: absolute;
    top: 530px;
    left: 340px;
    transform: rotate(180deg);
}

#stretch{
    position: absolute;
    top: 640px;
    left: 340px;
}

#string-force{
    position: relative;
    left: 850px;
    top: -650px;
}

#graph-force{
    position: relative;
    left: 270px;
    top: -400px;
    z-index: -5;
}

#gstrech{
    position: relative;
    top: -50px;
    right: 868px;
    transform: rotate(30deg);
    z-index: 5;
};
#mov-cc{
    
    z-index: 5;
};
#springg{
    
    z-index: -5;
};

#algebraicForce{
   
    z-index: 15;
    cursor: col-resize;
};



/*Moving curve*/
#moving-curve{
    position: relative;
    left: 850px;
    top: -270px;
}

#triangle{
    position: relative;
    top: 0px;
    left: 832px;
    fill: black;
    stroke-width: 4;
    
}

#svg_triangle{
    position: relative;
    top: 142px;
    left: 1017px;
    
}

#curveCoordinates{
    position: relative;
    top: -200px;
    left: 880px;
    
}

#sliderCurve{
    position: relative;
    width: 400px;
    left: 1100px;
    bottom: 300px;

}

#div_totalforce{
    position: relative;
    left: 850px;
    top: 0px;
}

#tforce{
    position: relative;
    left: 120px;
    top: -180px;
}

#slider-tforce{
    position: relative;
    left: 230px;
    top: -1100px;
    width: 250px;
}

#pureMath1{
    position: relative;
    width: 500px;
    top: 350px;
}
#pureMath2{
    position: relative;
    left: 650px;
    top: -100px;
    width: 500px;
}
#pureMath3{
    position: relative;
    left: 1250px;
    top: -500px;
    width: 500px;
}

#help{
    position: relative;
    left: 0px;
    top: -1000px;
    
}

#c1{
   z-index: 5;
    
}