
/*Summary heading*/
#summary_heading{
    z-index: 25;
}
#heading_11{
    font-size: 45px;
    position: relative;
    left: -100px;
}

#exp_arrow{
    position: relative;
    font-size: 45px;
    top: 50px;
    left:-165px;
    z-index: 25;
}


/*Slider*/
#slider11 .rs-range-color {
    background-color: #f7fafc;
}
#slider11 .rs-path-color {
    background-color: rgb(174, 188, 250);
}
#slider11 .rs-handle {
    background-color: #004B7E;
}
#slider11 .rs-bg-color {
    background-color: #E3DFDD;
}


#slider11{
    position: relative;
    top: -515px;
    left:298px;
    z-index: 15;
}

#div_guitar_rope{
    position: relative;
    left: -280px;
    top: -20px;
    z-index: 15;
}

#labels_summary11{
    position:relative;
    z-index: -1;
    top:-690px;
    left: -35px;
    
}

/*Reality -- Idealization*/
#guitar1{
    position: relative;
    left: 50px;
    top: 90px;
    transform: rotate(-1deg);
}

#heading_summary{
    z-index: 5;
}

/*Discretization*/
#discrete11{
    position: relative;
    left: 118px;
    top: -173px;
    z-index: -5;
    transform: rotate(0deg);
}
/*Geometric structure*/
#yaxis{
    position: absolute;
    left: 130px;
    top: 20px;
    z-index: 5;
    
}

#xaxis{
    position: absolute;
    left: 260px;
    top: 120px;
    z-index: 5;
    transform: rotate(90deg);
}

#zoom_into11{
    position: relative;
    left: 78px;
    top: -453px;
    z-index: -5;
    transform: rotate(0deg);
}

#s-r_11{
    position:relative;
    transform: rotate(0deg);
    z-index: -1;
    left: 288px;
    top:-600px;
    
}

#s-l_11{
    position:relative;
    transform: rotate(180deg);
    z-index: -1;
    top:-480px;
    left: -220px;
    
}

/*Pure Math*/
#maths1{
    position:relative;
    z-index: -1;
    top:-600px;
    left: 50px;
    
}
#maths2{
    position:relative;
    z-index: -1;
    top:-680px;
    left: 50px;
    
}
#maths3{
    position:relative;
    z-index: -1;
    top:-780px;
    left: 180px;
    
}

/*Labels*/

#rect_reality{
    position:absolute;
    z-index: -1;
    top:-880px;
    left: -170px;
    transform: rotate(45deg);
  
}

#rect_ideal{
    position:absolute;
    z-index: -1;
    top:-880px;
    left: -170px;
    transform: rotate(23deg);
  
}

#rect_dis{
    position:absolute;
    z-index: -1;
    top:-880px;
    left: -170px;
    transform: rotate(0deg);
  
}

#rect_geo{
    position:absolute;
    z-index: -1;
    top:-880px;
    left: -170px;
    transform: rotate(-23deg);
  
}

#rect_mat{
    position:absolute;
    z-index: -1;
    top:-880px;
    left: -170px;
    transform: rotate(-45deg);
  
}

